<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="CMDConnectionString" providerName="System.Data.SqlClient" connectionString= "Data Source = tcp:cmd - atmecs.database.windows.net; Initial Catalog = CMD-DB; Persist Security Info = True;User ID=atmecs;Password=password@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
	</connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>